parameters:
	ignoreErrors:
		-
			message: "#^Class Drupal\\\\media_entity_instagram\\\\Plugin\\\\Field\\\\FieldFormatter\\\\InstagramEmbedFormatter extends @internal class Drupal\\\\media\\\\Plugin\\\\Field\\\\FieldFormatter\\\\OEmbedFormatter\\.$#"
			count: 1
			path: src/Plugin/Field/FieldFormatter/InstagramEmbedFormatter.php
